span.error {
  color: red;
}

.madlib-line {
  display: block;
  height: 20px;
}

.madlib-line.last-of-chunk + .madlib-line {
  display: inline-block;
}

.user-submitted-value {
  text-decoration: underline;
}